#promotion__container {
	display: none;
}

#promotionHeader__wrapper,
#promotionbody__wrapper {
	opacity: 0;
}

.promotion__container {
  position: relative;
}

.promotionHeader__wrapper {
	width: 650px;
	height: 810px;
	position: absolute;
	top: 20px;
	left: 12%;
	transform: translate(-10%, 11%);
	overflow: hidden;
}

.promotionBody__wrapper {
	width: 650px;
	position: absolute;
	top: 105px;
	left: 48%;
	overflow: hidden;
	height: 825px;
}

.promotion__header img{
	width: 650px;
}

.promotion__body img{
	width: 650px;
}
