#promotion__container {
	display: none;
}

.promotion__container {
  position: relative;
}

.promotionHeader__wrapper {
	width: 650px;
	height: 810px;
	position: absolute;
	top: -35px;
	left: 10%;
	transform: translate(-10%, 11%);
	overflow: hidden;
}

.promotionBody__wrapper {
	width: 550px;
	position: absolute;
	top: 133px;
	left: 50%;
	overflow: hidden;
	height: 687px;
}

.promotion__header img{
	width: 650px;
}

.promotion__body img{
	width: 550px;
}
