* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  margin: 0;
  background: url(../assets/Club_illusion_interactivetable_mainbg.png);
  background-size: cover;
  /*padding: 20px;*/
}

/* touch Box css here */
#touchBox {
  width: 100%;
  height: 100%;
  /*background-color: #f5f5f5;*/
  /*border: 2px dashed #cccccc;*/
  position: relative;
}

/* Main video */
#video {
  display: none;
  width: 1350px;
  height: 935px;
  background: black;
}

/** Sub Video */

#video__container {
  display: none;
}
.video__container {
  /* display: flex;
  background: #ccc;
  justify-content: center;
  align-items: center;
  height: 100vh;*/
  position: absolute;
  width: 600px;
  height: 200px;
  left: 800px;
  bottom: 60px;
}

.video,
.video1 {
  width: 100%;
}

.c__video {
  width: 60%;
  max-width: 800px;
  position: relative;
}

.video__controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.7);
}

.video__buttons button {
  background: none;
  border: 0;
  outline: 0;
}

.video__buttons {
  padding: 10px;
  background: #000;
}

.fas {
  color: white;
}

.video__bar {
  height: 10px;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
}

.video__innerBar,
.video__innerBar1 {
  height: 10px;
  background-color: orangered;
}

#pause,
#pause1 {
  display: none;
}

/* LOGO */
.logo {
  position: absolute;
  right: 20px;
  top: 200px;
  z-index: 101;
}

.logo_img {
  width: 190px;
}

/** menu stye */
.menu__explore {
  position: absolute;
  right: 60px;
  top: 340px;
  z-index: 101;
}

.menu__explore,
.menu__game,
.menu__promotion,
.logo {
  display: none;
}

@keyframes menuRightToLeft {
  from {
    transform: translate(200px, 10px);
  }
  to {
    transform: "";
  }
}

@keyframes menuLeftToRight {
  from {
    transform: "";
  }
  to {
    transform: translate(200px, 10px);
  }
}

.menuImg__explore {
  width: 63px;
  position: absolute;
  top: 13px;
  left: 18px;
}

.menuImg__promotion {
  width: 63px;
  position: absolute;
  top: 15px;
  left: 18px;
}

.menuImg__games {
  width: 69px;
  position: absolute;
  top: 20px;
  left: 18px;
}

.menu__game {
  position: absolute;
  right: 60px;
  top: 495px;
  z-index: 101;
}

.menu__promotion {
  position: absolute;
  right: 60px;
  top: 645px;
  z-index: 101;
}

.menu__explore h2,
.menu__promotion h2,
.menu__game h2 {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}

.menu__explore h2 {
  top: 5px;
  left: 20px;
  position: relative;
}

.menu__game h2 {
  top: 5px;
  left: 22px;
  position: relative;
}

.menu__promotion h2 {
  top: 5px;
  left: 12px;
  position: relative;
}

.menuloader {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(#13f6f1, #13f6f1, #13f6f1);
  /*animation: loader 1s linear infinite;*/
}

.menuloader span {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(#13f6f1, #4cdad5, #4f6160);
}

.menuloader:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: black;
  border-radius: 50%;
}

.menu__game1 h2,
.menu__game2 h2,
.menu__game3 h2 {
  color: white;
  text-align: center;
  margin: 0;
  margin-top: 10px;
  font-size: 1.6rem;
}

.menu__game3 h2 {
  position: absolute;
  top: 182px;
  left: 75px;
}

#menu__gamelist {
  display: none;
}

#gamelist__wrapper,
#menu__game1,
#menu__game2,
#menu__game3 {
  opacity: 0;
}

.gamelist__wrapper {
  width: 1000px;
  position: absolute;
  top: 190px;
  left: 23%;
  overflow: hidden;
}

.gamelist__body p {
  color: white;
  text-align: center;
  font-size: 2rem;
}

.menu__game1 {
  position: absolute;
  left: 17%;
  top: 465px;
  z-index: 101;
  border-radius: 50%;
  width: 265px;
  height: 265px;
  border: 3px solid white;
}

.menu__game2 {
  position: absolute;
  left: 42%;
  top: 465px;
  z-index: 101;
  border-radius: 50%;
  width: 265px;
  height: 265px;
  border: 3px solid white;
}

.menu__game3 {
  position: absolute;
  left: 68%;
  top: 465px;
  z-index: 101;
  border-radius: 50%;
  width: 265px;
  height: 265px;
  border: 3px solid white;
}

/* .menuImg__dice,
.menuImg__flip,
.menuImg__tap{
  width: 120px;
}*/

.gamebutton__box {
  height: 180px;
}

.menuImg__dice {
  height: 165px;
  width: 177px;
  animation: gamelistDice 1.7s ease-in-out infinite;
  position: absolute;
  top: 20px;
  left: 37px;
}

.menuImg__flip {
  height: 165px;
  width: 128px;
  animation: gamelistFlip 1.7s ease-in-out infinite;
  position: absolute;
  top: 25px;
  left: 63px;
}

.menuImg__tap {
  height: 165px;
  width: 159px;
  background: url("../assets/games/gamelist/Hand.png");
  background-size: cover;
  background-position: center;
  animation: gamelisttap 1.7s ease-in-out infinite;
  position: absolute;
  top: 9px;
  left: 41px;
}

@keyframes gamelistDice {
  0% {
    background: url("../assets/games/gamelist/Dice1.png");
    background-size: cover;
    background-position: center;
  }
  50% {
    background: url("../assets/games/gamelist/Dice2.png");
    background-size: cover;
    background-position: center;
  }
  100% {
    background: url("../assets/games/gamelist/Dice1.png");
    background-size: cover;
    background-position: center;
  }
}

@keyframes gamelistFlip {
  0% {
    background: url("../assets/games/gamelist/Cvs_flip.png");
    background-size: cover;
    background-position: center;
    opacity: 0.3;
  }
  50% {
    opacity: 1;
    background: url("../assets/games/gamelist/Cvs_flip2.png");
    background-size: cover;
    background-position: center;
  }
  100% {
    background: url("../assets/games/gamelist/Cvs_flip.png");
    background-size: cover;
    background-position: center;
    opacity: 0.3;
  }
}

@keyframes gamelisttap {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

/** bottle style **/
.square {
  position: absolute;
  width: 300px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottleContent__square-1 {
  position: absolute;
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 400px; /*625*/
  bottom: -25px; /*230*/
}

.bottleButton__style-1,
.bottleButton__style-2,
.bottleButton__style-3,
.bottleButtonOption__style-1,
.contentvideo__style-1 {
  position: absolute;
  left: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 51px;
  width: 139px;
  height: 195px;
  /*background: linear-gradient(45deg, black, transparent);*/
  /*border: 1px solid white;*/
  border-radius: 50%;
}

.bottleButton__style-1 h2,
.bottleButton__style-2 h2,
.bottleButton__style-3 h2 {
  position: relative;
  color: #fff;
  text-align: center;
  transition: 0.5s;
  z-index: 100;
  font-size: 1.1rem;
}

#mainBottle__container-1 {
  display: none;
  transform: translate(14%, 870px);
}

#mainBottle__container-2 {
  display: none;
  transform: translate(14%, 870px);
}

#mainBottle__container-3 {
  display: none;
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(
    rgb(179, 210, 241),
    rgba(16, 169, 247, 0.79),
    rgb(13, 36, 45)
  );
  /*animation: loader 1s linear infinite;*/
}

.loader span {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(
    rgb(179, 210, 241),
    rgba(16, 169, 247, 0.79),
    rgb(13, 36, 45)
  );
}

.bottleContent__loader-1 {
  position: relative;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: linear-gradient(
    rgb(179, 210, 241),
    rgba(16, 169, 247, 0.79),
    rgb(13, 36, 45)
  );
}

.bottleContent__loader-1 span {
  position: absolute;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: linear-gradient(
    rgb(179, 210, 241),
    rgba(16, 169, 247, 0.79),
    rgb(13, 36, 45)
  );
}

.bottleContent__loader-1:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  border-radius: 50%;
}

.bottleContent__loaderBackground-1:after {
  background: black;
}

.bottleContent__loaderBackground-3:after {
  background-image: url(../assets/images/bgcv-select-artistry.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  filter: brightness(70%);
}

.bottleContent__loaderBackground-3-1:after {
  background-image: url(../assets/images/bgcv-proudly.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  filter: brightness(70%);
}

.bottleContent__loaderBackground-3-2:after {
  background-image: url(../assets/images/bgcv-growing.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  filter: brightness(70%);
}

.bottleContent__loaderBackground-3-3:after {
  background-image: url(../assets/images/bgcv-distilling.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  filter: brightness(70%);
}

.bottleContent__loaderBackground-3-4:after {
  background-image: url(../assets/images/bgcv-ageing.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  filter: brightness(70%);
}

.loader:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background: black;
  border-radius: 50%;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bottleBase_loadercontainer1 {
  width: 150px;
  height: 150px;
  position: relative;
  left: 78px;
  bottom: -48px;
  transform: rotateX(83deg);
}

.loaderBase {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: white;
  filter: blur(20px);
  /*animation: loader 1s linear infinite;*/
}

.loaderBase span {
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: white;
}

.loaderBase:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  right: 7px;
  bottom: 7px;
  background: white;
  border-radius: 50%;
  filter: blur(27px);
}

.bottle_loadercontainer1 {
  width: 200px;
  height: 200px;
  position: relative;
  left: 150px; /*310*/
  bottom: 150px;
  transform: scale(0);
}

.bottle_loadercontainer2 {
  width: 200px;
  height: 200px;
  position: relative;
  left: 92px; /*200*/
  bottom: 30px;
  transform: scale(0);
}

.bottle_loadercontainer3 {
  width: 200px;
  height: 200px;
  position: relative;
  left: -50px; /*0*/
  top: 90px;
  transform: scale(0);
}
.bottleBaseOption_loadercontainer1 {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 210px;
  bottom: 165px;
}

#bottleButtonOption1__loader-1,
#bottleButtonOption1__loader-2 {
  animation: loader 1s linear infinite;
}

.bottleBaseOption_loadercontainer2 {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 120px;
  bottom: 275px;
}

.bottleButtonOption__style-1 h2,
.contentvideo__style-1 h2 {
  position: relative;
  color: #fff;
  text-align: center;
  transition: 0.5s;
  z-index: 100;
  font-size: 0.9rem;
}

.bottleBaseImg_loadercontainer1,
.bottleBaseImg_loadercontainer2 {
  position: absolute;
  left: -40px;
  bottom: -16px;
}

.bottleBaseImg_loadercontainer1 img,
.bottleBaseImg_loadercontainer2 img {
  width: 100px;
}

/** content display **/
.bottleContent__loaderContainer-1 {
  display: none;
}

/* Content header/body/details  */

#content-img__bottle1 {
  opacity: 1;
}

#content-detail__bottle1 {
  display: none;
}

#bottleContent__courvoisier-3-1,
#bottleContent__courvoisier-3-2,
#bottleContent__courvoisier-3-3,
#bottleContent__courvoisier-3-4 {
  display: none;
}

.content-header__bottle1 {
  position: absolute;
  padding: 0px 10px;
  color: #fff;
  text-align: center;
  transition: 0.5s;
  z-index: 100;
}

.content-header-pos__bottle1 {
  top: 45px;
}

.content-header__bottle1 h2 {
  font-size: 1.8rem;
}

.content-img__bottle1 {
  position: absolute;
  padding: 40px 60px;
  transition: 0.5s;
  z-index: 99;
  bottom: 20px;
}

.content-img__bottle1-1 {
  position: absolute;
  padding: 40px 60px;
  transition: 0.5s;
  z-index: 99;
  bottom: -25px;
  right: -45px;
}

.content-img__bottle1-1 img {
  opacity: 0.3;
}

.content-img2__bottle1 {
  position: absolute;
  padding: 40px 60px;
  transition: 0.5s;
  z-index: 99;
  bottom: 60px;
}

.content-img2__bottle1 img {
  width: 200px;
}

.content-img__bottle1 img {
  height: 20rem;
}

.content-img__bottle1-1 img {
  height: 25rem;
}

.content-detail__bottle1 {
  position: absolute;
  padding: 40px 60px;
  color: #fff;
  text-align: center;
  transition: 0.5s;
  z-index: 100;
}

.content-detail__bottle1 p {
  font-size: 1.1rem;
}

.content-detail__bottle1 h2 {
  font-size: 1.4rem;
}

.content-body__bottle1 {
  position: absolute;
  padding: 0px 60px;
  color: #fff;
  text-align: center;
  transition: 0.5s;
  z-index: 100;
  bottom: 25px;
}

.content-body__bottle1 p {
  opacity: 0.5;
  font-size: 1.3rem;
}

.content-button__bottle1 {
  position: absolute;
  padding: 40px 60px;
  color: #fff;
  text-align: center;
  transition: 0.5s;
  z-index: 100;
}

.content-button-left__bottle1 {
  left: -40px;
}

.content-button-right__bottle1 {
  right: -40px;
}

.content-button__inner {
  border: none;
  outline: 0;
  background: transparent;
}

.content-icon-left__bottle1 {
  font-size: 2.5rem;
}

.content-icon-right__bottle1 {
  font-size: 2.5rem;
}

.content-header-pos__inner {
  top: 50px;
}

.content-header-pos__inner h3 {
  font-size: 1.3rem;
}

/*content video*/

#contentvideo_loadercontainer1,
#contentvideo_loadercontainer2 {
  display: none;
}
.contentvideo_loadercontainer1 {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 690px;
  bottom: 145px;
}
